@charset "utf-8";

// Webcreative by Arahori
// Last Update:2018/11/1
// https://web3.co.jp/

//===================================================================
//	breakpoint
//===================================================================
$xs: "(max-width: 575.98px)";
$sm: "(min-width: 576px) and (max-width: 767.98px)";// 小デバイス（横向きモバイル, 576px 以上）
$md: "(min-width: 768px) and (max-width: 991.98px)";// 中デバイス（タブレット, 768px 以上）
$lg: "(min-width: 992px) and (max-width: 1199.98px)";// 大デバイス（デスクトップ, 992px 以上）
$xl: "(min-width: 1200px)";// 特大デバイス（ワイド・デスクトップ, 1200px 以上）
$pc: "(min-width:768px)";
$sp: "(max-width:767.98px)";

//===================================================================
//	color
//===================================================================
$c1: #000;
$c2: #000;
$c3: #000;
$c4: #000;
$c5: #000;

//===================================================================
//	shadow
//===================================================================
@mixin bs1(){ box-shadow: 1px 1px 6px rgba(0,0,0,0.2); }
@mixin bs2(){ text-shadow: 2px 2px 2px rgba(0,0,0,0.1); }

//===================================================================
//	transition
//===================================================================
@mixin trs1(){ transition: all ease 0.2s; }
@mixin trs1(){ transition: all ease 0.5s; }

//===================================================================
//	background
//===================================================================
@mixin bg1(){ background-position: center center; background-repeat: no-repeat; background-size: cover; }