.container {
  position: relative;
  text-align: left; }
.style--form input[type="submit"],
.style--form input[type="button"] {
  cursor: pointer; }
.style--form .radio-btn, .style--form .check-box {
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0 0 0 30px;
  position: relative;
  transition: background-color 0.2s linear 0s;
  vertical-align: middle;
  line-height: 100%; }
.style--form .radio-btn:hover::after,
.style--form .check-box:hover::after {
  border-color: #ec74a2; }
.style--form .radio-btn::after, .style--form .check-box::after {
  border: 2px solid #ededed;
  background: #ededed;
  border-radius: 0;
  content: "";
  display: block;
  height: 24px;
  left: 0;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  transition: border-color 0.2s linear 0s;
  width: 24px;
  line-height: 100%; }
.style--form .radio-btn::before {
  background-color: #ec74a2;
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: opacity 0.2s linear 0s;
  width: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  line-height: 100%;
  z-index: 2; }
.style--form .radio-btn::after {
  border-radius: 100%; }
.style--form input[type="radio"]:checked + .radio-btn::before {
  opacity: 1; }
.style--form .check-box::before {
  border-bottom: 3px solid #ec74a2;
  border-right: 3px solid #ec74a2;
  content: "";
  display: block;
  height: 13.5px;
  left: 9px;
  margin-top: -9px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  transition: opacity 0.2s linear 0s;
  width: 7.5px;
  z-index: 2; }
.style--form input[type="checkbox"]:checked + .check-box::before {
  opacity: 1; }
